<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>spring-cxf</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:camel-context.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>SwaggerServlet</servlet-name>
		<servlet-class>org.apache.camel.swagger.servlet.RestSwaggerServlet</servlet-class>
		<init-param>
			<param-name>base.path</param-name>
			<param-value>rest</param-value>
		</init-param>
		<init-param>
			<param-name>api.path</param-name>
			<param-value>api-docs/json</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<display-name>Camel Http Transport Servlet</display-name>
		<servlet-name>CamelServlet</servlet-name>
		<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>swaggerui</servlet-name>
		<jsp-file>/swaggerui/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>swaggerui</servlet-name>
		<url-pattern>/api-docs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SwaggerServlet</servlet-name>
		<url-pattern>/api-docs/json/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CamelServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>RestSwaggerCorsFilter</filter-name>
		<filter-class>org.apache.camel.swagger.servlet.RestSwaggerCorsFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RestSwaggerCorsFilter</filter-name>
		<url-pattern>/api-docs/json/*</url-pattern>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
</web-app>